
  body {
    background-image: url('../assets/black-and-blue-background.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150vh;
  }  
  